.bottom-tabbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

.tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.tab-item:hover {
  background-color: var(--header-bg-color);
}

.tab-icon {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.tab-label {
  font-size: 1rem;
  font-weight: 600;
}

/* Active Tab Styling */
.tab-item.active {
  color: var(--buttons-text-color);
}

/* Media Query to hide on larger screens */
@media screen and (min-width: 900px) {
  .bottom-tabbar {
    display: none;
  }
}
@media (max-width: 600px) {
  .bottom-tabbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 400px) {
  .bottom-tabbar {
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  .tab-icon {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 460px) {
  .bottom-tabbar {
    height: 80px;
  }
  .tab-icon {
    font-size: 1.3rem;
  }
  .tab-label {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 415px) {
  .bottom-tabbar {
    height: 80px;
  }

  .tab-label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .tab-label {
    font-size: 0.7rem;
  }
}
